
<div class="container">
    <nav class="navbar  navbar-light py-4 fixed-top" style="background-color: #293831bb;">
    
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-size: xx-large; color: rgb(255, 230, 230);">Movies Blog App</a>
        </div>
    
        <ul class="nav navbar-nav navbar-right">
          <ul class="navbar-nav d-flex flex-row">
    
            <div class="d-flex align-items-center">
    
                <button type="button" class="btn btn-default me-3" style="font-size: x-large; color: rgb(255, 230, 230);"  (click)="onBtnClick()">
                  Login
                </button>
            </div>
          </ul>
        </ul>
    
    
      </div>
    
    </nav>
  </div>
  
  