<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="card"  *ngIf="!loginSuccess">
    <div id="card-content">
      <div id="card-title">
        <h2>LOGIN</h2>
        <div class="underline-title"></div>
      </div>
      <form #loginForm="ngForm" [formGroup]="loginCompForm">
        <label for="username" style="padding-top:13px">
            &nbsp;User Name
        </label>
        <input id="username" class="form-content" name="username" autocomplete="on" formControlName = "username" required />
        <div class="form-border"></div>
        <label for="password" style="padding-top:22px">
          &nbsp;Password
        </label>
        <input id="password" class="form-content" type="password" name="password" formControlName="password" required />
        <div class="form-border"></div>
        <a href="#">
          <legend id="forgot-pass">Forgot password?</legend>
        </a>
        <button class="btn btn-primary btn-block" (click)="login(loginForm)">login</button>
        <a routerLink="/sign-up" id="signup">Don't have account yet?</a>
      </form>
    </div>
  </div>
</body>

</html>